<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_OK0jKauYPE8QnLtaG5Y656Kt_Wj151g</string>
	<key>GCM_SENDER_ID</key>
	<string>1060089188265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatappinternship-30087</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappinternship-30087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060089188265:ios:07dd41ce48a51eddcdfeb8</string>
</dict>
</plist>